body{
  background-color: rgb(175, 73, 138);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  border: 10px solid rgb(13, 82, 232);
  border-radius: 40px;
}
.container{
  font-size: 200px;
  font-weight: bold;
  color: rgb(192, 75, 33);
}